.head1 {
			font-size: 50px;
			color: #F875AA;
			font-weight:  bold;}
		.head2{
			font-size:14px;
			margin-left:10px; 
			margin-bottom:15px;
		}


	body{
		margin:0 auto;
		background-position:center;
		background-size:contain;
	} 

	.menu{
		position:sticky;
		top:0; 
		background-color: #F875AA;
		padding:10px 0px 10px 0px;
		color:white;
		margin:0 auto; 
		overflow:hidden;
	}
	.menu a{
		float:left;
		color: white;
		text-align:center;
		padding:14px 16px;
		text-decoration: none;
		font-size:20px;
	}
	.menu-log{
		right:auto;
		float:right;}
	footer{
		width:100%; 
		color:#fff;
		bottom: 0;
		 background-color:#000;
		 position:fixed;
		 padding-top:20px;
		/* padding-bottom:50px; */
		 text-align:center;
		  font-size:30px;
		  font-weight:bold;
		  display: block;
		}

		.footer1{
			position: relative;
			bottom: 0;
			background-color: #000;
			width: 100%;
		}
	.body-sec{margin-left:20px;}

	h1{
			color: skyblue;
		}
		li{
			color: red;
			padding: 10px;
		}
	h2{
		color: orange;
		padding: 15px;
	}

	.b1{
		display: block;
	}